// ------------------------------
// THEME COLORS
// ------------------------------

$brand-color:           #8dc63f;
$green-dark:            #75af26;

$grey-lightest:         #f7f7f7;
$grey-light:            #cccccc;
$grey:                  #8d8d8d;
$grey-dark:             #353535;

$orange:                #e18024;
$blue:                  #077bc0;


// ------------------------------
// THEME FONT
// ------------------------------

$avenir:        'Avenir LT Std';



// ------------------------------
// spacing
// ------------------------------

$spacing: 50px;